// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  width: 200px;
  height: 50px;
  border: solid 1px pink ;
  padding: 10px;
}

.post-text {
  width: 300px;
  height: 100px;
}

.tag-text {
  width: 250px;
  height: 30px;
}
